*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

.relative {
  position: relative;
}

.m-0 {
  margin: 0px;
}

.mb-\[2rem\] {
  margin-bottom: 2rem;
}

.box-border {
  box-sizing: border-box;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.h-\[112\.5rem\] {
  height: 112.5rem;
}

.w-21 {
  width: 21.25rem;
}

.w-44 {
  width: 44.75rem;
}

.w-\[12rem\] {
  width: 12rem;
}

.w-\[19rem\] {
  width: 19rem;
}

.w-\[1rem\] {
  width: 1rem;
}

.w-full {
  width: 100%;
}

.flex-1 {
  flex: 1 1 0%;
}

.list-dash {
  list-style-type: '-';
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-between {
  justify-content: space-between;
}

.gap-013 {
  gap: 0.13rem;
}

.gap-025 {
  gap: 0.25rem;
}

.gap-25 {
  gap: 2.5rem;
}

.gap-5 {
  gap: 5rem;
}

.self-stretch {
  align-self: stretch;
}

.overflow-hidden {
  overflow: hidden;
}

.rounded-full {
  border-radius: 9999px;
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.p-\[7\.25rem\] {
  padding: 7.25rem;
}

.px-\[0\.3rem\] {
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

.pb-m {
  padding-bottom: 0.3rem;
}

.pl-0 {
  padding-left: 0px;
}

.pl-s {
  padding-left: 0.2rem;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.font-nunito {
  font-family: Nunito;
}

.font-roboto {
  font-family: Roboto;
}

.text-3xl {
  font-size: 1.38rem;
}

.text-5xl {
  font-size: 1.5rem;
}

.text-base {
  font-size: 1rem;
}

.text-body {
  font-size: 1.25rem;
}

.text-body2 {
  font-size: 1.13rem;
}

.text-h1 {
  font-size: 1.5rem;
}

.text-h2 {
  font-size: 1.38rem;
}

.text-h3 {
  font-size: 1.25rem;
}

.text-lg {
  font-size: 1.13rem;
}

.text-name {
  font-size: 3.75rem;
}

.font-medium {
  font-weight: 500;
}

.leading-110 {
  line-height: 110%;
}

.leading-120 {
  line-height: 120%;
}

.leading-140 {
  line-height: 140%;
}

.leading-148 {
  line-height: 148%;
}

.leading-152 {
  line-height: 152.62%;
}

.leading-\[148\%\] {
  line-height: 148%;
}

.tracking-\[4px\] {
  letter-spacing: 4px;
}

.text-dimgray {
  --tw-text-opacity: 1;
  color: rgb(102 102 102 / var(--tw-text-opacity));
}

.text-gray {
  --tw-text-opacity: 1;
  color: rgb(17 17 17 / var(--tw-text-opacity));
}

.text-inherit {
  color: inherit;
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

body {
  margin: 0px;
  line-height: normal;
}

*,
::before,
::after {
  border-width: 0;
}

/* @font-face { */

/*     font-family: 'Roboto'; */

/*     src: url('/fonts/Roboto/Roboto-Regular.ttf') format('truetype'); */

/*     font-weight: normal; */

/*     font-style: normal; */

/*     font-display: swap; */

/* } */

/* @font-face { */

/*     font-family: 'Roboto'; */

/*     src: url('/fonts/Roboto/Roboto-Italic.ttf') format('truetype'); */

/*     font-weight: normal; */

/*     font-style: italic; */

/*     font-display: swap; */

/* } */

@font-face {
  font-family: 'Roboto';

  src: url('/fonts/Roboto/Roboto-Bold.ttf') format('truetype');

  font-weight: bold;

  font-style: normal;

  font-display: swap;
}

/* @font-face { */

/*     font-family: 'Roboto'; */

/*     src: url('/fonts/Roboto/Roboto-Thin.ttf') format('truetype'); */

/*     font-weight: thin; */

/*     font-style: normal; */

/*     font-display: swap; */

/* } */

@font-face {
  font-family: 'Nunito';

  src: url('/fonts/Nunito/static/Nunito-Regular.ttf') format('truetype');

  font-weight: normal;

  font-style: normal;

  font-display: swap;
}

@font-face {
  font-family: 'Nunito';

  src: url('/fonts/Nunito/static/Nunito-Bold.ttf') format('truetype');

  font-weight: bold;

  font-style: normal;

  font-display: swap;
}

@font-face {
  font-family: 'Nunito';

  src: url('/fonts/Nunito/static/Nunito-Italic.ttf') format('truetype');

  font-weight: normal;

  font-style: italic;

  font-display: swap;
}

@font-face {
  font-family: 'Nunito';

  src: url('/fonts/Nunito/static/Nunito-Light.ttf') format('truetype');

  font-weight: light;

  font-style: normal;

  font-display: swap;
}

@page
{
  size: A4 portrait;

  margin: 0;
}

@media print {
  .print {
    background-color: black !important;
    -webkit-print-color-adjust: exact;
            print-color-adjust: exact;
    color: white !important;
  }
}

a.gray-link-box, svg {
  stroke: #666;
}
